body{
  margin:0;
  font-family:Montserrat,sans-serif;
  overflow:hidden;
}

/* SETIAP HALAMAN FULL SCREEN */
.screen{
  position:fixed;
  inset:0;
  width:100%;
  height:100vh;
  overflow-y:auto;
  opacity:0;
  pointer-events:none;
  transition:opacity .8s ease;
}

/* HALAMAN AKTIF */
.screen.active{
  opacity:1;
  pointer-events:auto;
}

/* COVER */
#cover{
  background:#000 url(DSC07804.jpg) center/cover no-repeat;
}

/* PAGE UNDANGAN */
#page2{
  background:#000;
}