#page2{
  display:none;
}

/* SETIAP BAGIAN = 1 LAYAR */
.scene{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:40px 20px;
}

/* BAGIAN LEBIH PANJANG (ACARA) */
.scene-double{
  min-height:200vh;
}

/* GLASS CONTENT */
.glass-box{
  width:100%;
  max-width:360px;
  padding:24px;
  border-radius:24px;
  background:rgba(255,255,255,.22);
  backdrop-filter:blur(14px);
  text-align:center;
}

/* BACKGROUND PER BAGIAN */
.bg-1{background:url('prewed1.jpg') center/cover no-repeat}
.bg-2{background:url('prewed2.jpg') center/cover no-repeat}
.bg-3{background:url('prewed3.jpg') center/cover no-repeat}
.bg-4{background:url('prewed4.jpg') center/cover no-repeat}
.bg-5{background:url('prewed5.jpg') center/cover no-repeat}

/* TANPA FOTO */
.plain{
  background:#111;
}

/* INPUT */
input, textarea{
  width:100%;
  margin:8px 0;
  padding:12px;
  border-radius:14px;
  border:none;
}